html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $font-stack;
  background-color: map-get($color-palette, black);
  color: map-get($color-palette, light);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  @include bp-tablet {
    font-size: 14px;
  }
  @include bp-mobile {
    font-size: 12px;
  }
  .background-slice {
    position: fixed;
    left: 50%;
    top: 0;

    height: 100vh;
    width: 200vh;
    
    background-color: map-get($color-palette, black);
    transform: skew(-33deg);

    z-index: -1000  ;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.5;
}

img {
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}


body {
  max-width: 1400px;

  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;

  padding: 1rem;

  @include bp-tablet {
    grid-template-columns: 1fr;
  }

  .about-me .card {
    position: sticky;
    top: 1rem;
  }
  
  .card {
    background-color: map-get($color-palette, black);

    border: map-get($color-palette, tertiary) 1px solid;
    border-radius: 15px;
  
    margin: 1rem;
    padding: 1rem;
    margin: 0 auto;
  }
}
.has-one-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.has-two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include bp-tablet {
    grid-template-columns: 1fr;
  }
}

.text-center {
  text-align: center;
}

#btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}