.projects {
    a {
        text-decoration: none;
        color: map-get($color-palette, light);
    }
    section {
        margin: auto 0
    }
    h2 {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    // zoom on hover
    figure {
    overflow: hidden;
    position: relative;
        img {
            transition: transform .3s;
            &:hover {
                transform: scale(1.03) translateY(0rem);
                cursor: pointer;
            }
        }
        .appear-on-hover {
            display: none;
            // white-space: nowrap;
            // overflow:hidden;
            // text-overflow:ellipsis;
        }
        div {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 0;
        }
        &:hover > div {
            background-color: map-get($color-palette, black);
        }
        &:hover > div > .appear-on-hover {
            display: block;
        }
    }

    .featured {
        grid-column: 1 / -1;
    }
}
