.overview-container {
    max-width: 100%;

    .project-overview {
        padding: 1rem;
    a {
        text-decoration: none;
        color: map-get($color-palette, light);
    }
    h2 {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    

    // zoom on hover
    figure {
    position: relative;
    overflow: hidden;
        img {
            transition: transform .3s;
            &:hover {
                transform: scale(1.03) translateY(0rem);
                cursor: pointer;
            }
        }
        .project-description {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            h2 {
                margin: .5rem;
                line-height: 1.5rem;
            }
            p {
                margin: 0 .5rem .5rem .5rem;
                
            }
        }
        &:hover > div {
            background-color: rgba(0, 0, 0, 0.856);
            backdrop-filter: blur(5px);
        }
        .appear-on-hover {
            display: none;
        }
        &:hover > div > .appear-on-hover {
            display: block;
        }
    }

    .featured {
        grid-column: 1 / -1;
    }
}

}
