.projects {
    margin: 1rem 0;
    a {
        text-decoration: none;
        color: map-get($color-palette, light);
    }
    section {
        margin: auto 0
    }
    h2 {
        margin-top: 0;
        margin-bottom: .5rem;
    }

    // zoom on hover
    figure {
    overflow: hidden;
    position: relative;
        img {
            transition: transform .3s;
            &:hover {
                transform: scale(1.03) translateY(0rem);
                cursor: pointer;
            }
        }
    }

    .featured {
        grid-column: 1 / -1;
    }
}
