.about-me-container {
    background-color: map-get($color-palette, secondary);
    color: map-get($color-palette, light);
}
.about-me {
    position: sticky;
    top: 0px;
    padding: 1rem;
    height: calc(100vh - 2rem);

    @include bp-tablet {
        position: relative;
        height: auto;
        max-width: 340px;
        margin: 0 auto;
    }
    nav {
        margin: 0 1rem 0 1rem;
    }

    img {
        max-width: 300px;
        margin-top: 3rem;
        border-radius: 50%;
        @include bp-tablet {
            margin-top: 1rem;
        }
    }
    
    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    p {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    a {
        font-size: 1.2rem;
        display: block;
        color: map-get($color-palette, light);
        text-decoration: underline;
    }
}