header {
    position: sticky;
    top: 0px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 10;

    margin-bottom: 1rem;

    nav {
        max-width: 1400px;

        margin: 0 auto;
        display: grid;
        grid-template-columns: 400px 1fr;
        align-items: center;
        @include bp-tablet {
            grid-template-columns: 275px 1fr;
        }
    

    .navbar {
        list-style-type: none;
        margin: 0;
        padding: .5rem 0;

            .myName {
                font-size: 2rem;
                color: map-get($color-palette, tertiary);

                margin-left: 1rem;
            }
            
            &.primary-nav {
                display: grid;
                grid-template-columns: repeat(3, fit-content(50px));
                grid-gap: 1rem;
                justify-content: end;
                justify-items: end;

                margin-right: 1rem;
            }

            a {
                white-space:nowrap;
                font-size: 1.15rem;
                color: map-get($color-palette, light);
                text-decoration: none;
                &:hover {
                    color: map-get($color-palette, tertiary);
                }
                &.active {
                    color: map-get($color-palette, tertiary);
                }
            }
        }
    }
}