.projects {
    section {
        margin: auto 0
    }
    h2 {
        margin-top: 0;
        margin-bottom: .5rem;
    }
    h3 {
        margin-top: 1rem;
        margin-bottom: 0;
    }
    p {
        margin: 1rem 0;
        @include bp-tablet {
            margin: 0
        }
    }

    // play gif on hover
    figure {
        // position: relative;

        .static-img {
            object-position: 50% 50%;
            object-fit: cover;
            transition: transform .2s;
            
            height: auto;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            &:hover {
                transform: scale(1.05, 1.10) translateY(0rem);
                cursor: pointer;
                // display: none;
            }
        }
    }
    
}
