.projects {
    a {
        text-decoration: none;
        color: map-get($color-palette, light);
    }
    section {
        margin: auto 0
    }
    h2 {
        margin-top: 0;
        margin-bottom: .5rem;
        
    }

    // play gif on hover
    figure {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
        .static-img {
            transition: transform .3s;
            &:hover {
                transform: scale(1.1) translateY(0rem);
                cursor: pointer;
            }
        }
    }
}
