/* Media Break Point Mixins */
@mixin bp-laptop-l {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin bp-laptop-m {
  @media (max-width: 1365px) {
    @content;
  }
}

@mixin bp-laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin bp-tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin bp-mobile-l {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin bp-mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin bp-mobile-s {
  @media (max-width: 320px) {
    @content;
  }
}

$font-stack: 'Quicksand', sans-serif;

$color-palette: (
  primary: #b9faf8,
  secondary: #b8d0eb,
  // tertiary: 
  // primary: white,
  // secondary: black,
  light: #ffffff,
  dark: rgb(59, 78, 114),
);

@each $color, $code in $color-palette {
  .has-#{$color}-bg-color {
    background-color: $code;
  }
  .has-#{$color}-color {
    color: $code;
  }
  .has-#{$color}-outline {
    border: 2px solid $code;
    color: $code;
  }
}

.border-radius {
 border-radius: 15px;
}

%v-center {
  display: flex;
  align-items: center;
}

%zero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}